Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-corelib.yml, azure-pipelines.yml

azure-pipelines-corelib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CoreLib
      WorkingDirectory: src/core/CoreLib
      RestoreBuildProjects: '**/CoreLib.csproj'
      ArtifactName: CoreLib-NuGet

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

Updated CoreLib CI badge
  README.md
Due: none

Updating code (mainly CamFrameAnalyzer)
  src/core/CoreLib/CoreLib/Repos/AzureServiceBusRepository.cs
  src/core/CoreLib/CoreLib/Repos/IAzureServiceBusRepository.cs
  src/services/CamFrameAnalyzer/Abstractions/ICamFrameAnalysisRepository.cs
  src/services/CamFrameAnalyzer/AppConstants.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/Models/BaseModel.cs
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CamFrameAnalyzer/Models/CamFrameSummary.cs
  src/services/CamFrameAnalyzer/Models/CognitiveRequest.cs
  src/services/CamFrameAnalyzer/Repos/CamFrameAnalysisRepository.cs
  src/services/CamFrameAnalyzer/Startup.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Update setup guide for storage and cosmos db to include access info
  guide/02-prerequisites/README.md
Due: none

Updated code and docs
  guide/02-prerequisites/README.md
  src/services/CamFrameAnalyzer/AppConstants.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/README.md
  src/services/CamFrameAnalyzer/Startup.cs
  src/services/CamFrameAnalyzer/nuget.config
Due: azure-pipelines.yml

Updated Orchestrator and Analyzer
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CamFrameAnalyzer/Models/CognitiveRequest.cs
  src/services/CamFrameAnalyzer/Models/ProcessingStatus.cs
  src/services/CognitiveOrchestrator/AppConstants.cs
  src/services/CognitiveOrchestrator/CognitiveOrchestrator.cs
  src/services/CognitiveOrchestrator/CognitiveOrchestrator.csproj
  src/services/CognitiveOrchestrator/Models/CognitiveRequest.cs
  src/services/CognitiveOrchestrator/Repos/CamFrameAnalyzerServiceBus.cs
  src/services/CognitiveOrchestrator/Startup.cs
Due: azure-pipelines.yml

Updated LICENSE, Docs and Code
  LICENSE
  README.md
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers.sln
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveServiceHelpers.csproj
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CognitiveOrchestrator/CognitiveOrchestrator.cs
  src/services/CognitiveOrchestrator/Models/CognitiveTargetAction.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Adding CognitiveServicesHelper
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveFacesAnalyzer.cs
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveServiceHelpers.csproj
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/ErrorTrackingHelper.cs
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/FaceListManager.cs
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/FaceServiceHelper.cs
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/Models/IdentifiedPerson.cs
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/Models/SimilarFaceMatch.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Updated pipelines with CognitiveServiceHelpers
  azure-pipelines-cognitiveserviceshelpers.yml
Due: none

Adding nuget.config
  src/services/CognitiveOrchestrator/nuget.config
Due: azure-pipelines.yml

Update pipeline to use local nuget.config
  azure-pipelines-webapp.yml
Due: azure-pipelines.yml

Fixed pipeline
  azure-pipelines-webapp.yml
Due: azure-pipelines.yml

typo fix
  azure-pipelines-webapp.yml
Due: azure-pipelines.yml

Include qualifying path
  azure-pipelines-webapp.yml
Due: azure-pipelines.yml

Added nuget.org source
  src/services/CognitiveOrchestrator/nuget.config
Due: azure-pipelines.yml

Updated nuget.config
  src/services/CamFrameAnalyzer/nuget.config
Due: azure-pipelines.yml

Updated face detection to skip small faces
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveFacesAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Added constructor to CognitiveFacesAnalyzer
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveFacesAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Enhancements to cam frame analytics
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/CognitiveFacesAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CamFrameAnalyzer/Models/CamFrameSummary.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

CamFrameAnalyzer initial scope complete
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CamFrameAnalyzer/Models/ProcessingStatus.cs
Due: azure-pipelines.yml

Initially working Analyzer
  src/services/CamFrameAnalyzer/.gitignore
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
Due: azure-pipelines.yml

Path conditions:
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml
