Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines.yml

azure-pipelines-cognitiveserviceshelpers.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CognitiveServiceHelpers
      WorkingDirectory: src/core/CognitiveServiceHelpers
      RestoreBuildProjects: '**/CognitiveServiceHelpers.csproj'
      ArtifactName: CognitiveServiceHelpers-NuGet

azure-pipelines-corelib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CoreLib
      WorkingDirectory: src/core/CoreLib
      RestoreBuildProjects: '**/CoreLib.csproj'
      ArtifactName: CoreLib-NuGet

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

CamFrameAnalyzer completed
  src/core/CoreLib/CoreLib/Repos/CosmosDbClientFactory.cs
  src/services/CamFrameAnalyzer/AppConstants.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/Models/AgeDistribution.cs
  src/services/CamFrameAnalyzer/Models/AgeGenderDistribution.cs
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CamFrameAnalyzer/Models/CamFrameSummary.cs
  src/services/CamFrameAnalyzer/Repos/CamFrameAnalysisRepository.cs
  src/services/CamFrameAnalyzer/Startup.cs
Due: azure-pipelines-corelib.yml, azure-pipelines.yml

Update CoreLib version
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
Due: azure-pipelines.yml

Optimizing CamFrameAnalysis model to reduce size
  src/services/CamFrameAnalyzer/Models/CamFrameAnalysis.cs
Due: azure-pipelines.yml

Added a pub topic crowd-analyzer
  guide/02-prerequisites/README.md
  src/services/CamFrameAnalyzer/AppConstants.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
Due: azure-pipelines.yml

Initial setup for CrowdAnalyzer
  .vscode/settings.json
  .vscode/tasks.json
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CrowdAnalyzer/.gitignore
  src/services/CrowdAnalyzer/Abstractions/ICrowdDemographicsRepository.cs
  src/services/CrowdAnalyzer/Abstractions/IVisitorsRepository.cs
  src/services/CrowdAnalyzer/AppConstants.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
  src/services/CrowdAnalyzer/DemographicAnalyzer.cs
  src/services/CrowdAnalyzer/Models/AgeDistribution.cs
  src/services/CrowdAnalyzer/Models/AgeGenderDistribution.cs
  src/services/CrowdAnalyzer/Models/CamFrameAnalysis.cs
  src/services/CrowdAnalyzer/Models/CamFrameSummary.cs
  src/services/CrowdAnalyzer/Models/CrowdDemographics.cs
  src/services/CrowdAnalyzer/Models/Visit.cs
  src/services/CrowdAnalyzer/Models/Visitor.cs
  src/services/CrowdAnalyzer/Repos/CroudDemographicsRepository .cs
  src/services/CrowdAnalyzer/Repos/VisitorsRepository.cs
  src/services/CrowdAnalyzer/Startup.cs
  src/services/CrowdAnalyzer/host.json
  src/services/CrowdAnalyzer/nuget.config
Due: azure-pipelines.yml

Fixed minor typos :D
  src/services/CrowdAnalyzer/Repos/CrowdDemographicsRepository.cs
  src/services/CrowdAnalyzer/Startup.cs
Due: azure-pipelines.yml

Refactoring
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/Utlis/DemographicAnalyzer.cs
Due: azure-pipelines.yml

FInished scope of CrowAnalyzer (pending testing)
  src/services/CrowdAnalyzer/Abstractions/ICrowdDemographicsRepository.cs
  src/services/CrowdAnalyzer/Abstractions/IVisitorsRepository.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
  src/services/CrowdAnalyzer/Models/AgeDistribution.cs
  src/services/CrowdAnalyzer/Models/CognitiveRequest.cs
  src/services/CrowdAnalyzer/Models/CrowdDemographics.cs
  src/services/CrowdAnalyzer/Models/EmotionDistribution.cs
  src/services/CrowdAnalyzer/Models/EmotionGenderDistribution.cs
  src/services/CrowdAnalyzer/Utlis/DemographicAnalyzer.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines.yml

Various fixes after testing
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/Models/AgeDistribution.cs
  src/services/CamFrameAnalyzer/Repos/CamFrameAnalysisRepository.cs
  src/services/CrowdAnalyzer/AppConstants.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/Models/CrowdDemographics.cs
  src/services/CrowdAnalyzer/Repos/CrowdDemographicsRepository.cs
  src/services/CrowdAnalyzer/Repos/VisitorsRepository.cs
  src/services/CrowdAnalyzer/Startup.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines.yml

Updated pipelines
  azure-pipelines-camframe-analyzer.yml
  azure-pipelines-cognitive-orchestrator.yml
  azure-pipelines-crowd-analyzer.yml
Due: none

Updated deployment guide
  guide/05-deployment/README.md
  guide/05-deployment/assets/azure-devops.png
  guide/05-deployment/assets/azure-newpipeline-configure.png
  guide/05-deployment/assets/azure-newpipeline-connect.png
  guide/05-deployment/assets/azure-newpipeline-repo.png
  guide/05-deployment/assets/azure-newpipeline-review.png
  guide/05-deployment/assets/azure-newpipeline-yaml.png
  guide/05-deployment/assets/azure-newpipeline.png
  guide/05-deployment/assets/azure-newproject.png
Due: none

Azure Functions Documentations
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines.yml

Updated CognitiveOrchestrator Dockerfile
  guide/02-prerequisites/README.md
  src/services/CognitiveOrchestrator/Dockerfile
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines.yml

Updated deployment guide
  guide/05-deployment/README.md
  guide/05-deployment/assets/azure-new-docker-registry.png
  guide/05-deployment/assets/azure-new-serviceconnection.png
  guide/05-deployment/assets/azure-settings.png
  guide/05-deployment/assets/k8s-connection.png
Due: none

Updated Cognitive-Orchestrator build def
  azure-pipelines-cognitive-orchestrator.yml
  azure-pipelines-webapp-containers.yml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines.yml

Modified pipelines for CognitiveOrchestrator
  azure-pipelines-cognitive-orchestrator.yml
  azure-pipelines-webapp-containers.yml
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines.yml

Updated deployments. AB#315
  azure-pipelines-cognitive-orchestrator.yml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines.yml

Updted deployment token
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines.yml

Updated image tag
  azure-pipelines-webapp-containers.yml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines.yml

Removed token replacements
  azure-pipelines-webapp-containers.yml
Due: none

Path conditions:
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml
