Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-camframe-analyzer.yml: any of: src/services/CamFrameAnalyzer, azure-pipelines-camframe-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-orchestrator.yml: any of: src/services/CognitiveOrchestrator, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines-crowd-analyzer.yml: any of: src/services/CrowdAnalyzer, azure-pipelines-crowd-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml

Updated KEDA guidance Fixed AB#334
  src/services/README.md
Due: azure-pipelines.yml

Updated guide AB#323
  guide/02-prerequisites/README.md
Due: none

Updated build/release badges
  README.md
Due: none

Updated IoT Guide AB#335
  guide/04-iot/README.md
Due: none

Updated IoT guide AB#335
  guide/04-iot/README.md
  guide/04-iot/assets/powershell.png
Due: none

Updated Device Deployment AB#335
  guide/04-iot/IOT-EDGE.md
  guide/04-iot/README.md
Due: none

Updated IoT Guide
  guide/04-iot/README.md
  guide/04-iot/assets/k8s.png
Due: none

Updated Cam Defice Project
  src/iot/Cam.Device.Web/.gitignore
  src/iot/Cam.Device.Web/AppSettings.cs
  src/iot/Cam.Device.Web/Cam.Device.Web.csproj
  src/iot/Cam.Device.Web/Controllers/HomeController.cs
  src/iot/Cam.Device.Web/Startup.cs
  src/iot/Cam.Device.Web/Views/Home/Index.cshtml
  src/iot/Cam.Device.Web/Views/Shared/_Layout.cshtml
  src/iot/Cam.Device.Web/appsettings.json
  src/iot/Cam.Device.Web/wwwroot/css/cam.css
  src/iot/Cam.Device.Web/wwwroot/js/canvas-toBlob.js
  src/iot/Cam.Device.Web/wwwroot/js/userMedia.js
Due: azure-pipelines.yml

Updated docs and minor layout adjustments
  guide/00-setup/README.md
  src/iot/Cam.Device.Web/Views/Shared/_Layout.cshtml
Due: azure-pipelines.yml

Updating IoT docs
  guide/04-iot/IOT-EDGE.md
  guide/04-iot/README.md
  src/iot/Cam.Device.Web/.gitignore
  src/iot/Cam.Device.Web/wwwroot/CamFrames/README.md
Due: azure-pipelines.yml

Update IoT docs
  guide/04-iot/IOT-EDGE.md
  guide/04-iot/README.md
Due: none

Updated script for IoT Device
  guide/04-iot/README.md
Due: none

Updated IoT docs and client code
  guide/04-iot/README.md
  src/iot/Cam.Device.Web/.gitignore
  src/iot/Cam.Device.Web/AI/FaceDetector.cs
  src/iot/Cam.Device.Web/AppSettings.cs
  src/iot/Cam.Device.Web/Cam.Device.Web.csproj
  src/iot/Cam.Device.Web/Controllers/HomeController.cs
  src/iot/Cam.Device.Web/Models/BaseModel.cs
  src/iot/Cam.Device.Web/Models/CognitiveRequest.cs
  src/iot/Cam.Device.Web/Models/CognitiveTargetAction.cs
  src/iot/Cam.Device.Web/Models/CognitiveTargetTopics.cs
  src/iot/Cam.Device.Web/Program.cs
  src/iot/Cam.Device.Web/Repos/IIoTHubRepo.cs
  src/iot/Cam.Device.Web/Repos/IoTHubRepo.cs
  src/iot/Cam.Device.Web/Startup.cs
  src/iot/Cam.Device.Web/Views/Home/Index.cshtml
  src/iot/Cam.Device.Web/appsettings.json
  src/iot/Cam.Device.Web/local.appsettings.Development.json
  src/iot/Cam.Device.Web/nuget.config
  src/iot/Cam.Device.Web/wwwroot/AI/haarcascade_frontalface_alt.xml
  src/iot/Cam.Device.Web/wwwroot/js/userMedia.js
  src/services/CamFrameAnalyzer/Startup.cs
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines.yml

Updated KEDA services docs
  src/services/README.md
Due: azure-pipelines.yml

Updated end-to-end crowd analytics pipeline
  guide/02-prerequisites/README.md
  src/iot/Cam.Device.Web/wwwroot/js/userMedia.js
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CamFrameAnalyzer/Properties/launchSettings.json
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/Repos/CrowdDemographicsRepository.cs
  src/services/CrowdAnalyzer/Repos/VisitorsRepository.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Added PowerBI Dashboard
  src/dashboard/dasbhoard-template/Crowd-Analytics-Dashboard.pbix
  src/dashboard/designs/female.png
  src/dashboard/designs/male.png
  src/dashboard/designs/new.png
  src/dashboard/designs/okay.png
  src/dashboard/designs/visitors.png
Due: none

Updated deployment docs and minor web device fixes
  guide/03-aks/README.md
  guide/05-deployment/README.md
  guide/05-deployment/assets/device.png
  guide/05-deployment/assets/release-agent.png
  guide/05-deployment/assets/release-delete-artifact.png
  guide/05-deployment/assets/release-dev-stage.png
  guide/05-deployment/assets/release-import.png
  guide/05-deployment/assets/release-imported.png
  guide/05-deployment/assets/release-kube.png
  guide/05-deployment/assets/release-vars.png
  src/devops-cd/IE.OnContainers.CamFrameAnalyzer-CD.json
  src/devops-cd/IE.OnContainers.CognitiveOrchestrator-CD.json
  src/devops-cd/IE.OnContainers.CognitiveServiceHelpers-CD.json
  src/devops-cd/IE.OnContainers.CoreLib-CD.json
  src/devops-cd/IE.OnContainers.CrowdAnalyzer-CD.json
  src/iot/Cam.Device.Web/Views/Home/Index.cshtml
  src/iot/Cam.Device.Web/wwwroot/js/userMedia.js
Due: azure-pipelines.yml

Updated docs for AKS & workshop readme
  .gitignore
  README.md
  guide/03-aks/README.md
  guide/03-aks/scripts/aks-azure-monitor-rbac.json
  guide/05-deployment/README.md
  guide/05-deployment/assets/ai-aks.png
  guide/05-deployment/assets/ai-cog-rochestrator.png
  guide/05-deployment/assets/ai-overview.png
  guide/05-deployment/assets/aks-deployments.png
Due: none

Dashboard guide
  guide/05-deployment/README.md
  guide/06-dashboard/README.md
  guide/06-dashboard/assets/banner.png
  guide/06-dashboard/assets/bi-collection.png
  guide/06-dashboard/assets/bi-data.png
  guide/06-dashboard/assets/bi-datatype.png
  guide/06-dashboard/assets/bi-edit-rename.png
  guide/06-dashboard/assets/bi-expand-age.png
  guide/06-dashboard/assets/bi-expand-docs.png
  guide/06-dashboard/assets/bi-expand-table.png
  guide/06-dashboard/assets/cosmos-keys.png
  guide/06-dashboard/assets/dashboard-filter.png
  guide/06-dashboard/assets/dashboard-view.png
  guide/06-dashboard/assets/designer.png
Due: none
