Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-apis.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-camframe-analyzer.yml: any of: src/services/CamFrameAnalyzer, azure-pipelines-camframe-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-apis.yml: any of: src/apis/CognitiveOrchestrator.API, azure-pipelines-cognitive-apis.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-orchestrator.yml: any of: src/services/CognitiveOrchestrator, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines-crowd-analyzer.yml: any of: src/services/CrowdAnalyzer, azure-pipelines-crowd-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-visitoridentificationlib.yml: any of: src/core/PersonIdentificationLib, azure-pipelines-visitoridentificationlib.yml, azure-pipelines-nuget.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml

Added initial health check
  src/apis/CognitiveOrchestrator.API/Health/ServiceHealthCheck.cs
  src/apis/CognitiveOrchestrator.API/Startup.cs
Due: azure-pipelines-cognitive-apis.yml

Updated Identification Lib
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/apis/CognitiveOrchestrator.API/SamplePayLoads.json
  src/core/PersonIdentificationLib/PersonIdentificationLib/Abstractions/IVisitorIdentificationManager.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Various updates to Identification feature
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.sln
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/apis/CognitiveOrchestrator.API/SamplePayLoads.json
  src/core/CognitiveServiceHelpers/CognitiveServiceHelpers/FaceServiceHelper.cs
  src/core/CoreLib/CoreLib/Repos/CosmosDbClient.cs
  src/core/CoreLib/CoreLib/Repos/ICosmosDbClient.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/AppConstants.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/IdentifiedVisitor.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Repos/IdentifiedVisitorGroupRepo.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Repos/IdentifiedVisitorRepo.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated libraries references
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.sln
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/CoreLib/CoreLib/Repos/CosmosDBRepository.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Abstractions/IVisitorIdentificationManager.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/AppConstants.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/IdentifiedVisitorGroup.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Repos/IdentifiedVisitorGroupRepo.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Repos/IdentifiedVisitorRepo.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.cs
  src/services/CrowdAnalyzer/Repos/CrowdDemographicsRepository.cs
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Update library reference
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
Due: azure-pipelines-cognitive-apis.yml

Fixed partition key
  src/services/CrowdAnalyzer/Repos/CrowdDemographicsRepository.cs
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Added docs for Crowd Analytics APIs project
  guide/07-apis/README.md
  guide/07-apis/assets/banner.png
  src/devops-cd/CrowdAnalytics-Svc-CognitiveOrchestratorAPI-CD.json
Due: none

Various updates for better person identification
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/CoreLib/CoreLib/Abstractions/IRepository.cs
  src/core/CoreLib/CoreLib/Repos/CosmosDBRepository.cs
  src/core/CoreLib/CoreLib/Repos/CosmosDbClient.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/ResultStatus.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/PersonIdentificationLib.csproj
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
  src/services/CrowdAnalyzer/AppConstants.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/Models/CrowdDemographics.cs
  src/services/CrowdAnalyzer/Startup.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Added find visitor by person id
  src/core/PersonIdentificationLib/PersonIdentificationLib/PersonIdentificationLib.csproj
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Various updates
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
  src/services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services/CrowdAnalyzer/AppConstants.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
  src/services/CrowdAnalyzer/Startup.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Fixed filtered collection query
  src/core/CoreLib/CoreLib/Repos/CosmosDBRepository.cs
  src/core/CoreLib/CoreLib/Repos/CosmosDbClient.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated NuGets
  src/core/PersonIdentificationLib/PersonIdentificationLib/PersonIdentificationLib.csproj
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
Due: azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated references
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Added postman test configs
  src/apis/CognitiveOrchestrator.API/Postman-Tests/Crowd-Analytics.postman_collection.json
Due: azure-pipelines-cognitive-apis.yml

Minor adjustments
  README.md
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated Crowd Analyzer CD
  src/devops-cd/CrowdAnalytics-Svc-CrowdAnalyzer-CD.json
Due: none

Improved visitor detection
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/IdentifiedVisitor.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/Visit.cs
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

removed CI
  azure-pipelines-crowd-analyzer.yml
Due: azure-pipelines-crowd-analyzer.yml

Added CI trigger
  azure-pipelines-crowd-analyzer.yml
Due: azure-pipelines-crowd-analyzer.yml

Added visits history to identified persons
  src/services/CrowdAnalyzer/Utlis/DemographicsAnalyzer.cs
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated Identification Lib to latest version
  src/services/CrowdAnalyzer/CrowdAnalyzer.csproj
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Added Update Visitors functionality
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Abstractions/IVisitorIdentificationManager.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/PersonIdentificationLib.csproj
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Interface update to include extended functions
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Abstractions/IVisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated APIs
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/apis/CognitiveOrchestrator.API/Models/BaseResponse.cs
Due: azure-pipelines-cognitive-apis.yml

Updated nuget references
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
Due: azure-pipelines-cognitive-apis.yml

Added additional identified groups functions
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Abstractions/IVisitorIdentificationManager.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated identification APIs
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
Due: azure-pipelines-cognitive-apis.yml

Updated GetAll definition
  src/apis/CognitiveOrchestrator.API/SampleOutputs/IdentifiedVisitorGroup.json
  src/core/CoreLib/CoreLib/Repos/CosmosDBRepository.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines.yml

Updated libs
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/core/PersonIdentificationLib/PersonIdentificationLib/Models/IdentifiedVisitor.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Added initialization for some default values
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated identification NuGet version
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
Due: azure-pipelines-cognitive-apis.yml

Updated identification logic
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/core/PersonIdentificationLib/PersonIdentificationLib/Services/VisitorIdentificationManager.cs
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated postman script
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/Postman-Tests/Cognitive Services APIs.postman_environment.json
  src/apis/CognitiveOrchestrator.API/Postman-Tests/Crowd-Analytics.postman_collection.json
  src/apis/CognitiveOrchestrator.API/Postman-Tests/Face API.postman_collection.json
  src/core/PersonIdentificationLib/PersonIdentificationLib/PersonIdentificationLib.csproj
Due: azure-pipelines-cognitive-apis.yml, azure-pipelines-corelib.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

Updated Crowd Analytics release pipeline
  src/devops-cd/CrowdAnalytics-Svc-CrowdAnalyzer-CD.json
  src/services/CrowdAnalyzer/Deployment/k8s-secrets.yaml
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Added OpenAPI specs to platform APIs
  src/apis/CognitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/CognitiveOrchestrator.API/Controllers/IdentificationController.cs
  src/apis/CognitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/CognitiveOrchestrator.API/Models/BaseResponse.cs
  src/apis/CognitiveOrchestrator.API/Models/CognitiveRequest.cs
  src/apis/CognitiveOrchestrator.API/Models/CognitiveTargetAction.cs
  src/apis/CognitiveOrchestrator.API/Models/CognitiveTargetTopics.cs
  src/apis/CognitiveOrchestrator.API/Models/CustomSchemaFilter.cs
  src/apis/CognitiveOrchestrator.API/Models/SwaggerFitler.cs
  src/apis/CognitiveOrchestrator.API/Startup.cs
Due: azure-pipelines-cognitive-apis.yml

Minor adjustments to guides
  guide/06-dashboard/README.md
  guide/07-apis/README.md
Due: none

Updated guides and agenda to include APIs
  README.md
  guide/07-apis/README.md
Due: none

fixed typo in CrowdAnalytics vars
  guide/05-deployment/README.md
Due: none

Update root README
  README.md
Due: none

Further updates to root Readme
  README.md
Due: none
