Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-apis.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines-visitoridentificationlib.yml, azure-pipelines.yml

azure-pipelines-camframe-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CamFrameAnalyzer
      RestoreBuildProjects: '**/CamFrameAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CamFrameAnalyzer
      ArtifactName: CamFrameAnalyzer
      PublishWebApp: false
  ...

azure-pipelines-cognitive-apis.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CognitiveOrchestrator.API
      RestoreBuildProjects: '**/CognitiveOrchestrator.API.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/apis/CognitiveOrchestrator.API
  ...

azure-pipelines-cognitive-orchestrator.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

azure-pipelines-cognitiveserviceshelpers.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CognitiveServiceHelpers
      WorkingDirectory: src/core/CognitiveServiceHelpers
      RestoreBuildProjects: '**/CognitiveServiceHelpers.csproj'
      ArtifactName: CognitiveServiceHelpers-NuGet

azure-pipelines-corelib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CoreLib
      WorkingDirectory: src/core/CoreLib
      RestoreBuildProjects: '**/CoreLib.csproj'
      ArtifactName: CoreLib-NuGet

azure-pipelines-crowd-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CrowdAnalyzer
      RestoreBuildProjects: '**/CrowdAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CrowdAnalyzer
      ArtifactName: CrowdAnalyzer
      PublishWebApp: false
  ...

azure-pipelines-visitoridentificationlib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: VisitorIdentificationLib
      WorkingDirectory: src/core/PersonIdentificationLib
      RestoreBuildProjects: '**/PersonIdentificationLib.csproj'
      ArtifactName: PersonIdentificationLib-NuGet

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

Update to Setup readme doc
  guide/00-setup/README.md
Due: none

Update of architecture Readme
  guide/01-architecture/README.md
Due: none

Updated Cognitive Endpoint variable
  src/scripts/02-prerequisites.sh
Due: none

Updated deployment guid
  guide/05-deployment/README.md
  src/devops-cd/CrowdAnalytics-Svc-CrowdAnalyzer-CD.json
  src/devops-cd/IE.OnContainers.CrowdAnalyzer-CD.json
Due: none

Added OpenAPI specs for identification
  .gitignore
  src/apis/CognitiveOrchestrator.API/OpenAPI-Specs/identification-spec.json
Due: azure-pipelines-cognitive-apis.yml

Updated pipelines for mask detection container
  azure-pipelines-mask-detection-apis.yml
  azure-pipelines-webapp-oss-containers.yml
  src/custom-models/mask-detection/deployment/k8s-deployment.yaml
  src/iot/Cam.Device.Web/deployment/k8s-deployment.yaml
Due: azure-pipelines.yml

updated name
  azure-pipelines-mask-detection-apis.yml
Due: none

removed mask detection secret
  src/custom-models/mask-detection/deployment/k8s-deployment.yaml
Due: none

Updated docs for mask detection
  src/custom-models/mask-detection/README.md
  src/custom-models/mask-detection/deployment/k8s-deployment.yaml
  src/custom-models/mask-detection/res/postman.png
  src/custom-models/mask-detection/test-images/test-mask.jpg
  src/custom-models/mask-detection/test-images/test-no-mask.jpg
Due: none

Adding Mask Detector microservice
  src/services/MaskDetector/.dockerignore
  src/services/MaskDetector/.gitignore
  src/services/MaskDetector/Dockerfile
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/MaskDetector.sln
  src/services/MaskDetector/Properties/launchSettings.json
  src/services/MaskDetector/Properties/serviceDependencies.json
  src/services/MaskDetector/Properties/serviceDependencies.local.json
  src/services/MaskDetector/host.json
Due: azure-pipelines.yml

Added k8s deployment and custom nuget packages
  src/services/MaskDetector/Deployment/k8s-deployment.yaml
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/nuget.config
Due: azure-pipelines.yml

Added initial models
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/Models/CognitiveRequest.cs
  src/services/MaskDetector/Models/MaskAnalysis.cs
  src/services/MaskDetector/Models/MaskDetectionResult.cs
Due: azure-pipelines.yml

Added db setup for mask detector
  src/scripts/02-prerequisites.sh
  src/services/MaskDetector/Abstractions/IMaskAnalysisRepository.cs
  src/services/MaskDetector/AppConstants.cs
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/Repos/MaskAnalysisRepository.cs
Due: azure-pipelines.yml

Initial function partial implementation
  src/services/MaskDetector/AppConstants.cs
  src/services/MaskDetector/Functions/MaskDetector.cs
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/Models/ProcessingStatus.cs
  src/services/MaskDetector/Startup.cs
Due: azure-pipelines.yml

Completed mask detection functionality
  src/custom-models/mask-detection/README.md
  src/custom-models/mask-detection/README.txt
  src/custom-models/mask-detection/deployment/k8s-deployment.yaml
  src/services/MaskDetector/AppConstants.cs
  src/services/MaskDetector/Deployment/k8s-deployment.yaml
  src/services/MaskDetector/Functions/MaskDetector.cs
  src/services/MaskDetector/MaskDetector.csproj
  src/services/MaskDetector/Models/MaskAnalysis.cs
  src/services/MaskDetector/Models/MaskDetectionResult.cs
  src/services/MaskDetector/Services/IMaskDetectionAPI.cs
  src/services/MaskDetector/Startup.cs
Due: azure-pipelines.yml

Added mask detector service CI pipeline
  azure-pipelines-mask-detector.yml
Due: none

Updated mask detector docker file
  src/services/MaskDetector/Dockerfile
Due: azure-pipelines.yml

adjustment for pipeline
  src/services/MaskDetector/Dockerfile
Due: azure-pipelines.yml

Update 00-resource-providers.sh
  src/scripts/00-resource-providers.sh
Due: none

Path conditions:
  azure-pipelines-camframe-analyzer.yml: any of: src/services/CamFrameAnalyzer, azure-pipelines-camframe-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-apis.yml: any of: src/apis/CognitiveOrchestrator.API, azure-pipelines-cognitive-apis.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-orchestrator.yml: any of: src/services/CognitiveOrchestrator, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines-crowd-analyzer.yml: any of: src/services/CrowdAnalyzer, azure-pipelines-crowd-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-visitoridentificationlib.yml: any of: src/core/PersonIdentificationLib, azure-pipelines-visitoridentificationlib.yml, azure-pipelines-nuget.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml
