Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

azure-pipelines-camframe-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CamFrameAnalyzer
      RestoreBuildProjects: '**/CamFrameAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CamFrameAnalyzer
      ArtifactName: CamFrameAnalyzer
      PublishWebApp: false
  ...

azure-pipelines-cognitive-orchestrator.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

azure-pipelines-cognitiveserviceshelpers.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CognitiveServiceHelpers
      WorkingDirectory: src/core/CognitiveServiceHelpers
      RestoreBuildProjects: '**/CognitiveServiceHelpers.csproj'
      ArtifactName: CognitiveServiceHelpers-NuGet

azure-pipelines-corelib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CoreLib
      WorkingDirectory: src/core/CoreLib
      RestoreBuildProjects: '**/CoreLib.csproj'
      ArtifactName: CoreLib-NuGet

azure-pipelines-crowd-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CrowdAnalyzer
      RestoreBuildProjects: '**/CrowdAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CrowdAnalyzer
      ArtifactName: CrowdAnalyzer
      PublishWebApp: false
  ...

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

Updated workshop guide
  README.md
  guide/04-iot/README.md
  res/architecture.png
  res/technologies.png
Due: none

Updated guides
  README.md
  guide/00-setup/README.md
  guide/01-architecture/README.md
  guide/01-architecture/assets/architecture.png
  guide/01-architecture/assets/dashboard.png
  guide/01-architecture/assets/technology-mapping.png
Due: none

Updated tech chart
  guide/01-architecture/assets/technology-mapping.png
Due: none

Adjustment to IoT Hub File Upload functionality
  src/iot/Cam.Device.Web/Controllers/HomeController.cs
  src/iot/Cam.Device.Web/Repos/IIoTHubRepo.cs
  src/iot/Cam.Device.Web/Repos/IoTHubRepo.cs
Due: azure-pipelines.yml

Referencing KEDA with Azure Functions README
  guide/05-deployment/README.md
Due: none

Fixed some links
  README.md
  guide/00-setup/README.md
  guide/05-deployment/README.md
  guide/05-deployment/assets/ai-cog-orchestrator.png
Due: none

Update README.md
  guide/02-prerequisites/README.md
Due: none

Addining initial dapr configuration
  src/services-dapr/CrowdAnalytics.Services/CognitiveOrchestrator/CognitiveOrchestrator.csproj
  src/services-dapr/CrowdAnalytics.Services/CognitiveOrchestrator/Program.cs
  src/services-dapr/CrowdAnalytics.Services/CrowdAnalytics.Services.sln
  src/services-dapr/README.md
  src/services-dapr/components/secrets-component.yaml
  src/services-dapr/components/servicebus-component.yaml
  src/services-dapr/components/storage-component.yaml
Due: none

added Send and Listen rights to the topic rule
  guide/02-prerequisites/README.md
Due: none

Adding daper scafold
  src/services-dapr/CrowdAnalytics.Services/.dockerignore
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/CamFrameAnalyzer.csproj
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Dockerfile
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Program.cs
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Properties/launchSettings.json
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Protos/analyzeframe.proto
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Protos/greet.proto
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Services/GreeterService.cs
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/Startup.cs
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/appsettings.Development.json
  src/services-dapr/CrowdAnalytics.Services/CamFrameAnalyzer/appsettings.json
  src/services-dapr/CrowdAnalytics.Services/CrowdAnalytics.Services.sln
Due: none

Initial commit for APIs
  src/apis/ConitiveOrchestrator.API/.dockerignore
  src/apis/ConitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/ConitiveOrchestrator.API/CognitiveOrchestrator.API.sln
  src/apis/ConitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/ConitiveOrchestrator.API/Dockerfile
  src/apis/ConitiveOrchestrator.API/Models/AppSettings.cs
  src/apis/ConitiveOrchestrator.API/Models/BaseModel.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveRequest.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveTargetAction.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveTargetTopics.cs
  src/apis/ConitiveOrchestrator.API/Program.cs
  src/apis/ConitiveOrchestrator.API/Properties/launchSettings.json
  src/apis/ConitiveOrchestrator.API/Startup.cs
  src/apis/ConitiveOrchestrator.API/appsettings.Development.json
  src/apis/ConitiveOrchestrator.API/appsettings.json
  src/apis/ConitiveOrchestrator.API/nuget.config
Due: none

Initial commit for APIs
  src/apis/ConitiveOrchestrator.API/.dockerignore
  src/apis/ConitiveOrchestrator.API/CognitiveOrchestrator.API.csproj
  src/apis/ConitiveOrchestrator.API/CognitiveOrchestrator.API.sln
  src/apis/ConitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/ConitiveOrchestrator.API/Dockerfile
  src/apis/ConitiveOrchestrator.API/Models/AppSettings.cs
  src/apis/ConitiveOrchestrator.API/Models/BaseModel.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveRequest.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveTargetAction.cs
  src/apis/ConitiveOrchestrator.API/Models/CognitiveTargetTopics.cs
  src/apis/ConitiveOrchestrator.API/Program.cs
  src/apis/ConitiveOrchestrator.API/Properties/launchSettings.json
  src/apis/ConitiveOrchestrator.API/Startup.cs
  src/apis/ConitiveOrchestrator.API/appsettings.json
  src/apis/ConitiveOrchestrator.API/nuget.config
Due: none

Updated SubmitDoc api
  src/apis/ConitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/ConitiveOrchestrator.API/Startup.cs
Due: none

Updated prerequisites guide and script
  .gitignore
  guide/01-architecture/README.md
  guide/02-prerequisites/02-prerequisites.sh
  src/apis/ConitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/ConitiveOrchestrator.API/Properties/launchSettings.json
  src/apis/ConitiveOrchestrator.API/appsettings.Development.json
Due: none

Updated prerequisites guide and script
  .gitignore
  guide/01-architecture/README.md
  guide/02-prerequisites/02-prerequisites.sh
  src/apis/ConitiveOrchestrator.API/Controllers/OrchestratorController.cs
  src/apis/ConitiveOrchestrator.API/Properties/launchSettings.json
Due: none

Updated Azure Prerequisites
  guide/02-prerequisites/README.md
  guide/02-prerequisites/assets/azure-resources.png
  src/scripts/02-prerequisites.sh
  src/scripts/crowdanalytics
  src/services/README.md
Due: azure-pipelines.yml

Delete crowdanalytics
  src/scripts/crowdanalytics
Due: none

gitignore
  .gitignore
Due: none

Updated AKS guide
  guide/02-prerequisites/README.md
  src/scripts/02-prerequisites.sh
  src/scripts/03-aks.sh
  src/scripts/azure-prerequisites-login.sh
  src/scripts/azure-prerequisites-network.sh
  src/scripts/azure-prerequisites-services.sh
  src/scripts/azure-prerequisites-sp.sh
  src/scripts/azure-prerequisites-variables.sh
  src/services/README.md
Due: azure-pipelines.yml

IoT Hub guid updated
  guide/04-iot/README.md
  src/scripts/04-iot.sh
Due: none

Fixed app insights in the automation script
  guide/02-prerequisites/README.md
  guide/03-aks/README.md
  src/scripts/02-prerequisites.sh
  src/scripts/03-aks.sh
Due: none

Updated deployment guide
  guide/02-prerequisites/README.md
  guide/05-deployment/README.md
  guide/05-deployment/assets/azure-cd-artifact.png
  guide/05-deployment/assets/azure-devops-welcome.png
  guide/05-deployment/assets/azure-new-aks.png
  guide/05-deployment/assets/azure-new-docker-registry-2.png
  guide/05-deployment/assets/azure-pipelines-ci.png
  guide/05-deployment/assets/azure-pipelines-create.png
  guide/05-deployment/assets/azure-pipelines-files.png
  guide/05-deployment/assets/azure-pipelines-rename.png
  guide/05-deployment/assets/azure-pipelines-renamed.png
  guide/05-deployment/assets/github-fork.png
  src/scripts/02-prerequisites.sh
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CamFrameAnalyzer/Deployment/k8s-secrets.yaml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/Deployment/k8s-secrets.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated min Cognitive Orchestrator replicas to 1
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Removed services secrets from the main deployment
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-secrets.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-camframe-analyzer.yml: any of: src/services/CamFrameAnalyzer, azure-pipelines-camframe-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitive-orchestrator.yml: any of: src/services/CognitiveOrchestrator, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines-crowd-analyzer.yml: any of: src/services/CrowdAnalyzer, azure-pipelines-crowd-analyzer.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml
