Repository mohamedsaif/IntelligentExperiences.OnContainers: changes, and which Azure pipelines are due for each by the changed paths.
All: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-corelib.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

azure-pipelines-camframe-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CamFrameAnalyzer
      RestoreBuildProjects: '**/CamFrameAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CamFrameAnalyzer
      ArtifactName: CamFrameAnalyzer
      PublishWebApp: false
  ...

azure-pipelines-cognitive-orchestrator.yml:
  jobs:
  - template: azure-pipelines-webapp-containers.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

azure-pipelines-cognitiveserviceshelpers.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CognitiveServiceHelpers
      WorkingDirectory: src/core/CognitiveServiceHelpers
      RestoreBuildProjects: '**/CognitiveServiceHelpers.csproj'
      ArtifactName: CognitiveServiceHelpers-NuGet

azure-pipelines-corelib.yml:
  jobs:
  - template: azure-pipelines-nuget.yml
    parameters:
      Name: CoreLib
      WorkingDirectory: src/core/CoreLib
      RestoreBuildProjects: '**/CoreLib.csproj'
      ArtifactName: CoreLib-NuGet

azure-pipelines-crowd-analyzer.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CrowdAnalyzer
      RestoreBuildProjects: '**/CrowdAnalyzer.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CrowdAnalyzer
      ArtifactName: CrowdAnalyzer
      PublishWebApp: false
      ZipAfterPublish: false

azure-pipelines.yml:
  jobs:
  - template: azure-pipelines-webapp.yml
    parameters:
      Name: CognitiveOrchestrator
      RestoreBuildProjects: '**/CognitiveOrchestrator.csproj'
      BuildConfiguration: Release
      WorkingDirectory: src/services/CognitiveOrchestrator
      ArtifactName: CognitiveOrchestrator
  ...

Updated deployment settings and secrets. AB#316
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated namespace
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated service bus trigger configs
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated docs
  src/services/CognitiveOrchestrator/README.md
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated deployments. Fixed AB#316. AB#320 AB#321
  src/services/CamFrameAnalyzer/.dockerignore
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CamFrameAnalyzer/Dockerfile
  src/services/CognitiveOrchestrator/README.md
  src/services/CrowdAnalyzer/.dockerignore
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Dockerfile
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated pipeline definitions. AB#320 AB#321
  azure-pipelines-camframe-analyzer.yml
  azure-pipelines-crowd-analyzer.yml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-crowd-analyzer.yml

Updated docs. AB#316 AB#320 AB#321
  src/services/CognitiveOrchestrator/README.md
  src/services/CrowdAnalyzer/README.md
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Subject change. AB#316 AB#320 AB#321
  src/services/CamFrameAnalyzer/README.md
  src/services/CognitiveOrchestrator/README.md
  src/services/CrowdAnalyzer/README.md
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Restructured docs. Updated Deployment AB#320
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/README.md
  src/services/CrowdAnalyzer/README.md
  src/services/README.md
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated guide AB#323
  guide/02-prerequisites/README.md
Due: none

Updated docs AB#327
  src/services/CamFrameAnalyzer/README.md
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines.yml

AB#327 AB#328 AB#329
  src/services/CognitiveOrchestrator/README.md
  src/services/CrowdAnalyzer/README.md
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Crowd Analyzer k8s deployment AB#321
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
Due: azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Fixed deployment AB#331 AB#332. Fixed AB#330
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated camframe deployment AB#331
  guide/05-deployment/README.md
  src/services/CamFrameAnalyzer/.gitignore
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/.gitignore
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated deployments AB#331 AB#332 AB#330
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated docs AB#333
  guide/05-deployment/README.md
Due: none

Updated Deployment. AB#330
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/README.md
Due: azure-pipelines-cognitive-orchestrator.yml, azure-pipelines.yml

Updated deployments
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Updated deployment to include virtual nodes info AB#330 AB#331 AB#332
  src/services/CamFrameAnalyzer/Deployment/k8s-deployment.yaml
  src/services/CognitiveOrchestrator/Deployment/k8s-deployment.yaml
  src/services/CrowdAnalyzer/Deployment/k8s-deployment.yaml
Due: azure-pipelines-camframe-analyzer.yml, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-crowd-analyzer.yml, azure-pipelines.yml

Path conditions:
  azure-pipelines-camframe-analyzer.yml: any of: src/services/CamFrameAnalyzer, azure-pipelines-camframe-analyzer.yml, azure-pipelines-webapp.yml
  azure-pipelines-cognitive-orchestrator.yml: any of: src/services/CognitiveOrchestrator, azure-pipelines-cognitive-orchestrator.yml, azure-pipelines-webapp-containers.yml
  azure-pipelines-cognitiveserviceshelpers.yml: any of: src/core/CognitiveServiceHelpers, azure-pipelines-cognitiveserviceshelpers.yml, azure-pipelines-nuget.yml
  azure-pipelines-corelib.yml: any of: src/core, azure-pipelines-corelib.yml, azure-pipelines-nuget.yml
  azure-pipelines-crowd-analyzer.yml: any of: src/services/CrowdAnalyzer, azure-pipelines-crowd-analyzer.yml, azure-pipelines-webapp.yml
  azure-pipelines.yml: any of: src/services, src/core, src/iot, src/web, azure-pipelines.yml, azure-pipelines-angular.yml, azure-pipelines-webapp.yml, azure-pipelines-nuget.yml
